<div class="page-container">
  <mat-card class="login-card">

    <mat-card-title>Cambiar contraseña</mat-card-title>

    <mat-card-content>

      <ng-container *ngIf="!loading">

        <!-- Token inválido -->
        <ng-container *ngIf="tokenInvalido">
          <p class="helper-text">
            El enlace ha expirado o es inválido. Debes solicitar un nuevo enlace.
          </p>

          <div class="actions-center">
            <button
              mat-raised-button
              color="primary"
              (click)="volver()">
              Solicitar nuevo enlace
            </button>
          </div>
        </ng-container>

        <!-- Formulario -->
        <ng-container *ngIf="!tokenInvalido">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo electrónico</mat-label>
            <input
              matInput
              type="email"
              [(ngModel)]="correo"
              [disabled]="cambioExitoso"
              readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nueva contraseña</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="password"
              [disabled]="cambioExitoso"
              required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="confirmPassword"
              [disabled]="cambioExitoso"
              required>
          </mat-form-field>

        </ng-container>

      </ng-container>

    </mat-card-content>

    <!-- Acciones -->
    <mat-card-actions
      *ngIf="!tokenInvalido"
      [ngClass]="fromEmail ? 'actions-center' : 'actions-row'">

      <a class="action-link" (click)="volver()" *ngIf="!fromEmail" >Volver</a>

      <!-- Cambiar contraseña -->
      <button
        mat-raised-button
        color="primary"        
        (click)="cambiarPassword()"
        [disabled]="cambioExitoso">
        Cambiar contraseña
      </button>

    </mat-card-actions>

  </mat-card>
</div>
