.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

mat-card-title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center; /* 👈 esto */
}


.login-card {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
}

mat-form-field {
  width: 100%;
}

.error-message {
  color: #d32f2f;
  font-size: 1rem;  
}
