.page-container{
  display:flex;
  justify-content:center;
  background:#f4f6f8;
  padding:2rem 1rem 1rem;
}

/* contenedor principal */
.form-container{
  width:100%;
  max-width:60rem;
  background:#fff;
  padding:1.2rem 1.5rem;
  border-radius:1rem;
  box-shadow:0 .6rem 1.8rem rgba(0,0,0,.08);
  display:flex;
  flex-direction:column;
  gap:.8rem;
}

/* título */
.titulo-form{
  color:red;
  font-weight:700;
  margin:0;
}

/* header */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* filas */
.row{
  display:grid;
  gap:1rem;
  align-items:start;
}

.row.one{grid-template-columns:1fr;}
.row.two{grid-template-columns:1fr 1fr;}
.row.three{grid-template-columns:1fr 1fr 1fr;}

/* material fields */
mat-form-field{
  width:100%;
}

/* radios */
mat-radio-group{
  display:flex;
  gap:1.5rem;
}

/* checkbox alineado */
.center{
  display:flex;
  align-items:center;
  height:4rem;
}

/* readonly fields */
.readonly-field{
  display:flex;
  flex-direction:column;
  gap:.35rem;
}

.readonly-field label{
  font-size:.9rem;
  color:#666;
}

.readonly-field .value{
  min-height: 4rem;
  display:flex;
  align-items:center;
  padding:0 1rem;
  background:#f5f5f5;
  border-radius: 0.25rem;
  font-weight:500;
}

/* responsive */
@media (max-width:48rem){
  .row.two,
  .row.three{
    grid-template-columns:1fr;
  }
}
.cliente-select{
  margin-top: 0.4rem;
  height: 5.2rem;
}